$fontLight: MontserratLight;
$fontRegular: MontserratRegular;
$fontMedium: MontserratMedium;
$fontSemiBold: MontserratSemiBold;
$fontBold: MontserratBold;

$default-font-size: 1.6rem;

$color-dark: #333;

$color-blue-red: #007fff;
$color-white: #fff;
$color-dark-blue: #152E44;